# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/

# Frontend build/deps
frontend/node_modules/
frontend/.next/

# Local helper files
msg_filter.py

# Dotenv file
.env

# zkSync
zkout/